:root {
    --primary-brand: #4D5AE5;
    --pressed-state: #404BBF;
    --dark: #2E2F42;
    --success: #31D0AA;
    --text: #434455;
    --subtle-text: #8E8F99;
    --accent: #E7E9FC;
    --light: #F4F4FD;
    --modal-overlay: #2E2F4266;
    --hero-background: #2E2F42B2;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--dark);
    background-color: #FFF;
    
}

.title,
.header-one {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    margin: 0;
}

.header-two {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    margin: 0;
}

.header-three {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin: 0;
}

.text {
    color: var(--text);
    margin: 0;
}

.link {
    list-style-type: none;
    color: inherit;
    text-decoration: none;
}

/* ---------------------------HEADER----------------------- */
.header {
    border-bottom: 1px solid var(--accent);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 72px;
}

.nav {
    display: flex;
    align-items: center;
    gap: 76px;
}

.nav-logo {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    /* position: absolute; */
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--dark);
}

.nav-logo-span, 
.footer-logo-span {
    color: var(--primary-brand);
}

.nav-list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.nav-item {
    color: var(--dark);
    text-decoration: none;
}

.nav-item:hover,
.nav-item:focus {
    color: var(--pressed-state);
}



.address-list {
    display: flex;
    flex-direction: row;
    padding: 0px;
    gap: 40px;
}

.address-mail,
.address-phone {
    font-family: 'Roboto', sans-serif;
    color: var(--text);
    text-decoration: none;
    font-style: normal;
    /* position: absolute; */

}

.address-mail:hover, 
.address-mail:focus,
.address-phone:hover, 
.address-phone:focus {
    color: var(--pressed-state);
}
/* ----------------HERO SECTION--------------- */
.hero-section {
    display: flex;
    height: 600px;
    left: 0px;
    color: #FFF;
    background-color: var(--dark);
    text-align: center;
    align-items: center;
    justify-content: center;
}
.hero-textbtn {
    display: flex;
    flex-direction: column;
    gap: 48px;
}
.hero-text {
    font-family: 'Roboto', sans-serif;
    width: 494px;
    margin: 0;
}

.hero-button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 32px;
    gap: 10px;
    align-self: center;
    font-family: inherit;
    background-color: var(--primary-brand);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: #ffffff;
    border: none;
}

.hero-button:hover, 
.hero-button:focus {
    background-color: var(--pressed-state); 
}
/*--------------------STRATEGY------------------ */
.strategy-list {
    display: flex;
    width: 1128px;
    height: 104px;
    margin: 120px;
    padding: 0px;
    gap: 24px;
}

.strategy-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0px;
    gap: 8px;
    width: 264px;
    height: 104px;
}
/*--------------------DOING----------------------- */
.doing {
    display: flex;
    flex-direction: column;
    gap: 72px;
    margin-bottom: 120px;
}

.doing-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 0;
    margin: 0;
}
/* -------------------TEAM----------------------- */

.section-team {
    display: flex;
    flex-direction: column;
    height: 732px;
    justify-content: center;
    padding: 0;
    gap: 72px;
    background-color: var(--light);
}

.team-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 0;

}
.cards-team {
    width: 264px;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 32px;
    gap: 32px;  
    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.card-content {
    width: 232px;
    height: 56px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 8px;
}
/* ----------------------FOOTER----------------------  */
.footer {
    display: flex;
    align-items:center;
    width: 1440px;
    height: 310px;
    color: var(--accent);
    background-color: var(--dark);
}

.div-foot {
    display: flex;
    flex-direction: column;
    width: 264px;
    height: 110px;
    margin-left: 156px;
    gap: 16px;
}
.footer-logo {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--light);
}

.footer-text {
    color: var(--accent);
}

/* ----------------PORTFOLIO PAGE------------------ */

.portfolio {
}
.port-btn {
    margin-top: 96px;
    margin-bottom: 72px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0px;
    gap: 24px;
}
.buttons {
    color: var(--primary-brand);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    border: 1px solid var(--accent);
    border-radius: 4px;
    background-color: var(--light);
}

.buttons:hover,
.buttons:focus {
    color: #FFF;
    background-color: var(--pressed-state);
}

.prt-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
    gap: 48px 24px;
    margin-bottom: 120px;
}

.card-items {
    display: flex;
    justify-content: flex-start;
    height: 420px;
    border: 1px solid var(--accent);
}

.portcards-text {
    display: flex;
    flex-direction: column;
    padding: 0px 16px;
    gap: 8px;
    margin-top: 32px;
    margin-bottom: 32px;
}



